    <div ng-transclude=""></div>
    <div class="player">
    <div class="info">
        <div style="height: 50px">
            <div ng-repeat="track in audio.tracks" 
                          ng-click="audio.setTrack($index, true)">
                <div class="text">
                     {{track.duration | mdWavesurferTimeFormat}} | {{track.title}}.mp3 </b>
                </div>
                <div class="big">
                &#9658;
                </div>

            </div>
        </div>
    </div>
    <md-wavesurfer-player
            url="{{audio.currentTrack.src}}#{{audio.selectedIndex}}"
            title="{{audio.currentTrack.title}}"
            extra-buttons="audio.extraButtons"
            properties="audio.playerProperties"
    >
    </md-wavesurfer-player>
